{% extends 'stronaK/base.html' %}

    {% block title %}
        Dodawanie piosenki
    {% endblock %}

    {% block image %}
    {% endblock %}

    {% block content %}
    <div class="container col-sm-8">
        <form action="{% url 'stronaK:dodawanie_piosenek' %}" method="POST">
            {% csrf_token %}
            {% if song %}
                <h3>Mamy piosenki!!!</h3>
                {% for song in list_of_song %}
                    {% if song.hidden == False %}
                        <h4>{{ song.title }}</h4>
                        <h6>{{ song.author }}</h6>
                        <h6>{{ song.date }}</h6>
                        <h5>{{ song.text }}</h5>
                        {% if song.comments %}
                            <h5>{{ song.comments }}</h5>
                        {% endif %}
                        <button>
                            Zapisz
                        </button>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Nie ma piosenek!</p>
            {% endif %}
        </form>
    </div>
    {% endblock %}
