<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Historia Polskich Korporacji Akademickich</title>
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Copyrigth by Konwent Kujawja! 2021</p>
        <p>Link do pejsbuka: https://pl-pl.facebook.com/kujawja</p>
        <p>adres korespondencyjny: Mikołaja Kopernika 47, 87-100 Toruń</p>
        <p>adres maila: konwentKujawja@gmail.com</p>
        <p>Welecja to lamusy!!! A Arkonia to nie korporacja!!! A Giedyminia to banda pedałów!!!</p>
    </div>

</body>
</html>