{% extends 'stronaK\base.html' %}

{% block title %}
Konwent Kujawja!
{% endblock %}


{% block image %}
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Konwent Kujawja!</h1>
  <p>Strona jest responsywna - dostosowuje rozmiar do ekranu.</p>
</div>
{% endblock %}


{% block content %}
    <div class="col-sm-8">
      <h2>w tym miejscu będziemy generować 10 ostatnich aktualności z bazy - tytuł</h2>
      <h6>Autor, data </h6>
      <div class="fakeimg">Opcjonalnie obraz</div>
      <p>Treść aktualności - rekord z bazy..</p>
      <br>
      <form>
          {% csrf_token %}
          {% if last_news %}
              <p>Aktualności: </p>
              {% for news in last_news %}
                  {% if news.hidden == False %}
                      <h4>{{ news.title }}</h4>
                      <h6>{{ news.date }}</h6>
                      {% if news.picture %}
                          {{ news.picture }}
                      {% endif %}
                      <h5>{{ news.text }}</h5>
                      <h5>{{ news.author_id }}</h5>
                  {% endif %}
              {% endfor %}
          {% else %}
              <p>Nie ma aktualności!</p>
          {% endif %}
      </form>
    </div>

{% endblock %}
