<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Śpiewnik Kujawicki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historiaKujawji">Historia Kujawji</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historiaKorporacji">Historia Polskich Korporacji Akademickich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="zmarli">Lista przedwojennych członków</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active href="spiewnik">Śpiewnik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="zwyczajeKujawickie">Zwyczaje Kujawickie</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>
        </div>

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Copyrigth by Konwent Kujawja! 2021</p>
        <p>Link do pejsbuka: https://pl-pl.facebook.com/kujawja</p>
        <p>adres korespondencyjny: Mikołaja Kopernika 47, 87-100 Toruń</p>
        <p>adres maila: konwentKujawja@gmail.com</p>
        <p>Welecja to lamusy!!! A Arkonia to nie korporacja!!! A Giedyminia to banda pedałów!!!</p>
    </div>
</footer>
</html>