<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zmarli Kujawici</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/">Strona główna</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="historiaKujawji">Historia Kujawji</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="historiaKorporacji">Historia PK!Akademickich</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="zmarli">Lista przedwojennych członków</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="spiewnik">Śpiewnik</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="galeria">Galeria</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="zwyczajeKujawickie">Zwyczaje Kujawickie</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historiaKujawji">Historia Kujawji</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historiaKorporacji">Historia Polskich Korporacji Akademickich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="zmarli">Lista przedwojennych członków</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="spiewnik">Śpiewnik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="zwyczajeKujawickie">Zwyczaje Kujawickie</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>


            <div class="col-sm-8">
                <form>
                    {% csrf_token %}
                    {% if list_of_old %}
                        {% for old in list_of_old %}
                            {{ old.name }}
                            {{ old.last_name }}
                            {% if old.date_birth %}
                                {{ old.date_birth }}
                            {% endif %}
                            {% if old.date_death %}
                                {{ old.date_death }}
                            {% endif %}
                            {% if old.comments %}
                               {{ old.comments }}
                            {% endif %}
                            <button>Edytuj</button>
                            <button>Usuń</button>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p> Nie ma przedwojennych członków.</p>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Copyrigth by Konwent Kujawja! 2021</p>
        <p>Link do pejsbuka: https://pl-pl.facebook.com/kujawja</p>
        <p>adres korespondencyjny: Mikołaja Kopernika 47, 87-100 Toruń</p>
        <p>adres maila: konwentKujawja@gmail.com</p>
    </div>

</body>
</html>